@model BookingRoom.Models.Room

@{
    ViewBag.Title = "Thông Tin Phòng";
    Layout = "~/Views/Shared/House/_ManageLayout.cshtml";
}

<div class="row">
    <div class="col-sm-6 col-12">
        <div class="container shadow">
            <div class="row main-image">
                <div class="col-md-12 col-12 p-1">
                    <div class="image-box ratio-16-9">
                        <div class="image image-big" id="image-main" style="background-image: url('../../Content/images/Room/@ViewBag.MainPicture');"></div>
                    </div>
                </div>
            </div>
            <div class="row list-image">
                @if (ViewBag.MainPicture != "default.jpg")
                {
                    foreach (var item in ViewBag.Picture)
                    {
                        <div class="col-2 p-1">
                            <div class="image-box ratio-16-9">
                                <div class="image image-small" id="image-1" style="background-image: url('../../Content/images/Room/@item.Name');"></div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3 class="font-weight-bold text-primary">@Html.DisplayFor(model => model.TypeOfRoom.Name)</h3>
                <hr />
                <p class="card-description small"></p>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-arrow">
                            <li>
                                <span class="font-weight-bold">Thuộc Nhà Nghỉ:</span> @Html.DisplayFor(model => model.House.Name)
                            </li>
                            <li>
                                <span class="font-weight-bold">Trạng Thái:</span> @if (Model.Status == true)
                                {
                                    <span>Sẵn Sàng</span>
                                }
                                else
                                {
                                    <span>Chưa Sẵn Sàng</span>
                                }
                            </li>
                            <li>
                                <span class="font-weight-bold">Diện Tích:</span> @Html.DisplayFor(model => model.Area)  m<sup>2</sup>
                            </li>
                            <li>
                                <span class="font-weight-bold">Trẻ Emn Tối Đa:</span> @Html.DisplayFor(model => model.MaxChildren)
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-4 px-1">
                                @Html.ActionLink("Chỉnh Sửa", "RoomEdit", new { RoomID = Model.RoomID }, new { @class = "btn btn-primary btn-block btn-sm" })
                            </div>
                            <div class="col-4 px-1">
                                @Html.ActionLink("Hình Ảnh", "RoomPicture", new { RoomID = Model.RoomID }, new { @class = "btn btn-success btn-block btn-sm" })
                            </div>
                            <div class="col-4 px-1">
                                @Html.ActionLink("Quay Lại", "Rooms", new { Model.HouseID }, new { @class = "btn btn-secondary btn-block btn-sm" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(".image").hover(
        function () {
            var url = $(this).css("background-image");
            $("#image-main").css("background-image", url);
        },
    );

</script>